<p>
  (Ubuntu) If you do not have npm or bower run:
  <b>sudo apt-get install npm bower</b>
</p>

<p>
  Begin using this app by customizing the <i>package.json</i> file
  and running <b>npm install && bower install</b>
</p>

